@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Ubuntu:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #FFFFFF;
}

header li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #52B69A;
    text-decoration: none;
}
h3 {
    color: #1A759F;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #184E77;
    border-bottom: 3px solid #34A0A4;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: #99D98C;
}

header button {
    margin-left: 10px;
    padding: 9px 15px;
    background-color: rgba(52,160,164,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: #D9ED92;
}

header button:hover {
    background-color: rgba(52,160,164,0.8);
}

#titulo {
    margin: 40px 10% 20px 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    color: #184E77;
}
#conteudo {
    margin: 60px 10% 20px 10%;
}
#apresentacao img {
    float: right;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}
#apresentacao h2 {
    color: #1E6091;
}
#apresentacao h3 {
    padding: 10px 0 0 0;
}
#apresentacao p {
    text-align: justify;
    font-weight: 300;
    padding: 10px 0 0 0;
    color: #000000;
}
#apresentacao a:hover {
    text-decoration: underline;
}
#habilidades {
    margin: 30px 0 30px 0;
}
#apresentacao h3 {
    padding: 10px 0 0 0;
}
#habilidades ul {
    padding: 10px 30px 0 30px;
    font-weight: 300;
    font-size: 14px;
}
#links button {
    margin: 10px 20px 0 0;
    padding: 9px 15px;
    background-color: rgba(26,117,159,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: #D9ED92;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

#links button:hover {
    background-color: rgba(26,117,159,0.8);
}