/* 
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
} */

/* 
body {
  height: 100vh;
} */
/* 
#root {
  height: 100vh;
  width: 100vw;
} */

/* main {
  padding-top: 60px;
  padding-bottom: 70px;
} */
/* #root {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  padding-top: 54px;
} */

/* @media (max-width: 375px) {
  #root {
    margin-top: 220px;
    margin-bottom: 300px;
  }
} */

/* @media (max-width: 992px) {
  #root {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  #root {
    padding-top: 10px;
  }
} */
